@import url("../theme/colors.css");

@define-color waybar-background alpha(@background, 0.3);
@define-color waybar-foreground @foreground;

@define-color widget-background @color4;
@define-color widget-background-focused @widget-background;
@define-color widget-background-unfocused @background;
@define-color widget-background-hover @color2;
@define-color widget-background-urgent @color1;
@define-color widget-background-warning @color3;

@define-color widget-foreground @foreground;
@define-color widget-foreground-focused @foreground;
@define-color widget-foreground-unfocused @foreground;
@define-color widget-foreground-hover @foreground;
@define-color widget-foreground-urgent @foreground;
@define-color widget-foreground-warning @foreground;

@define-color widget-separator-color darker(@foreground);

@define-color tooltip-background @background;
@define-color tooltip-foreground @foreground;

@keyframes blink-critical {
	to {
		background-color: @widget-background-urgent;
		color: @widget-foreground-urgent;
	}
}

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
  font-family: "ComicShannsMono Nerd Font", "Ubuntu";
}

#waybar {
  background:  @waybar-background;
  color: @waybar-foreground;
  font-size: 10pt;
}

#custom-updates,
#custom-notification,
#battery,
#clock,
#cpu,
#language,
#memory,
#submap,
#network,
#pulseaudio,
#temperature,
#tray,
#disk,
#mpd {
  margin: 2px;
  padding-left: 8pt;
  padding-right: 8pt;
  background: @widget-background;
  color: @widget-foreground;
  border-radius: 3px;
}

/* these widgets are icon-only and I guess they don't handle wide glyphs nicely
 * so they need some extra padding to be centered... */
#network, #custom-notification {
  padding-right: 11pt;
}

#submap,
#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.critical.discharging {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-name: blink-critical;
  animation-duration: 1s;
}

#network.disconnected,
#memory.warning,
#cpu.warning,
#temperature.warning,
#battery.warning.discharging {
  background: @widget-background-warning;
  color: @widget-foreground-warning;
}

#workspaces {
  margin: 2px;
  border-radius: 3px;
}

#workspaces button {
  padding-left: 2pt;
  padding-right: 2pt;
  color: @widget-foreground-unfocused;
  background: @widget-background-unfocused;
}

#workspaces button:first-child {
  border-radius: 3px 0 0 3px;
}

#workspaces button:last-child {
  border-radius: 0 3px 3px 0;
}

#workspaces button.visible {
  color: @widget-foreground-focused;
  background: @widget-background-focused;
}

#workspaces button.urgent {
  color: @widget-foreground-urgent;
  background: @widget-background-urgent;
}

#workspaces button:hover {
  color: @widget-foreground-hover;
  background: @widget-background-hover;
}

tooltip {
  background: @tooltip-background;
  color: @tooltip-foreground;
  border-radius: 3px;
  border: 1px @tooltip-foreground solid;
}

#taskbar {
  margin: 2px;
}

#taskbar button {
  min-width: 130px;
  padding: 0;
  padding-left: 8px;
  padding-right: 8px;
  color: @widget-foreground-unfocused;
  background: @widget-background-unfocused;
  transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
  border-left: 1px @widget-separator-color solid;
}

#taskbar button.active {
  background: @widget-background-focused;
  color: @widget-foreground-focused;
}

#taskbar button.urgent {
  background: @widget-background-urgent;
  color: @widget-foreground-urgent;
}

#taskbar button:hover {
  background: @widget-background-hover;
  color: @widget-foreground-hover;
}

#taskbar button:first-child {
  border-radius: 3px 0 0 3px;
  border: none;
}

#taskbar button:last-child {
  border-radius: 0 3px 3px 0;
}
