@import url("/home/chris/dotfiles/color-schemes/output/nordic/waybar/style.css");

* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Helvetica, Arial;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: @base-background;
    border-bottom: 3px solid @base-background-bright;
    color: @base-foreground;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @base-foreground;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: @base-background-bright;
    box-shadow: inset 0 -3px @base-foreground;
}

#workspaces button.focused {
    background-color: @base-background-bright;
    box-shadow: inset 0 -3px @base-foreground;
}

#workspaces button.urgent {
    background-color: @base-urgent;
    color: @base-background;
}

#mode {
    background-color: @base-background-bright;
    border-bottom: 3px solid @base-foreground;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd,
#custom-alsa {
    padding: 0 10px;
    margin-left: 5px;
    color: @base-foreground;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: @base-background-bright;
}

#battery {
}

#battery.charging, #battery.full {
    color: @base02;
}

@keyframes blink {
    to {
        background-color: @base-background-bright;
    }
}

#battery.critical:not(.charging) {
    background-color: @base-urgent;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

widget > label {
    box-shadow: inset 0 -3px @base-background-bright;
    background-color: @base-background;
}

#cpu {
}

#memory {
}

#memory.warning {
    background-color: @base03;
    color: @base-background;
}

#memory.critical {
    background-color: @base-urgent;
    color: @base-background;
}

#disk {
    background-color: @base-background-bright;
}

#backlight {
    color: @base-foreground;
}

#network {
}

#network.disconnected {
    background-color: @base-urgent;
    color: @base-background;
}

#custom-alsa {
}

#custom-alsa.muted {
    background-color: @base-urgent;
    color: @base-background;
}

#temperature {
}

#temperature.critical {
    background-color: @base-urgent;
    color: @base-background;
}

#tray {
    background-color: #2980b9;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}
